.App {
    text-align: center;
    text-transform: uppercase;
    background-color:#273640;
    color: #fff;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }